
body {
    height:5000px;
}

section:nth-child(1){
    background-color: #ddd;
}


section:nth-child(2){
    background-color: grey;
    height:300px;
}


section:nth-child(3){
    background-color: #ccc;
}

section:last-of-type {
    background-color: #eee;
}

.nums {
    width:400px;
    display: flex;
}
.nums .num {
    flex: 1;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}